[Unit]
After=network-online.target sound.target
Description="Humanoid launch"

[Service]
ExecStart=<path-to-launch.sh>
RemainAfterExit=no
Restart=on-failure
RestartSec=2s

[Install]
WantedBy=default.target